---
title: External IP addresses (Egress)
last_reviewed_on: 2025-03-31
review_in: 6 months
weight: 10
hide_in_navigation: true
---

# <%= current_page.data.title %>

<%= warning_text('IP address allow lists are not a recommended approach, see further in this article by GDS with guidance on why we try not to do this anymore: <a href="https://technology.blog.gov.uk/2017/01/03/a-whitelisting-approach-for-cloud-apis/">A whitelisting approach for Cloud APIs</a>.)') %>

This page lists the external Public IP addresses used by the firewalls in the Azure platform.

## Hubs

Within the Azure Platform, the networking of each virtual network will follow a hub / spoke model. Depending on the environment, it will be connected to one of three network hubs:

| Hub             | IP Addresses                 |
|-----------------|----------------------------- |
| Sandbox         | 20.49.137.196, 20.49.137.7   |
| Non production  | 20.49.168.141, 20.49.168.17  |
| Production      | 20.50.108.242, 20.50.109.148 |

## Environment hub connection

| CFT environment | SDS environment | Hub            |
|-----------------|-----------------|----------------|
| AAT             | Staging         | Production     |
| Prod            | Prod            | Production     |
| Perftest        | Test            | Non production |
| Preview         | Dev             | Non production |
| Demo            | Demo            | Non production |
| ITHC            | ITHC            | Non production |
| PTL             | PTL             | Non production |
| Ptlsbox         | Ptlsbox         | Sandbox        |
| sbox            | sbox            | Sandbox        |

For other environments, you can check which hub the virtual network is connected to by reviewing the virtual network peering. If unsure or any additional queries, please raise a request via the [#platops-help](https://hmcts-reform.slack.com/archives/C8SR5CAMU) channel in Slack.
