---
title: API Documentation
last_reviewed_on: 2019-09-18
review_in: 6 months
---

# API Documentation

All teams building APIs should be publishing automatically publishing their documentation using the 
[OpenAPI Specification 2.0](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md). 
Teams should use [these instructions](https://github.com/hmcts/reform-api-docs#publish-swagger-docs) 
for publishing the swagger spec file to the [central api docs repository](https://github.com/hmcts/reform-api-docs).

A network map of microservice dependencies can be generated using this central repository by manually 
commiting some additional information about the new service. 
See the [README](https://github.com/hmcts/reform-api-docs/blob/master/README.md) 
for information on how to do this.

<a rel="noopener" target="_blank" title="API Docs" href="https://hmcts.github.io/reform-api-docs">
    <img src="/images/api-docs-preview.png"/>
</a>
