---
title: GitHub
last_reviewed_on: 2026-01-15
review_in: 6 months
weight: 1
hide_in_navigation: true
---

# <%= current_page.data.title %>

## Access

Once you've received your `hmcts.net` or `justice.gov.uk` email account and `Confluence` access, you can request GitHub access in one of two ways:

1. If someone in your team already has access then ask them to follow the instructions on the [Person onboarding](../person/) document to add you.
2. If you're the first person in your team you should raise a help request in [#platops-help](https://hmcts-reform.slack.com/archives/C8SR5CAMU), asking for GitHub access, and say that you agree to the [Acceptable Use Policy](https://tools.hmcts.net/confluence/display/RPE/Acceptable+Use+Policy+and+Contractor+Security+Guidance).

Once you've been added you will be able to join GitHub from your [myapps.microsoft.com](https://myapps.microsoft.com/hmcts.net) dashboard.

## GitHub Teams

Now you need to create two 'GitHub teams' for your team.

1. Click on the 'teams' tab
2. Create a team called \<team-name>
  
- Link this team to your Microsoft Entra ID group created as part of [Microsoft Entra ID onboarding](azuread.html). This will mean your team members are automatically added when they join.

3. Create a team called \<team-name>-admins

see also [creating a GitHub repository](/cloud-native-platform/new-component/github-repo.html#create-a-github-repository).

### Team metadata required for pipelines

Each team needs to add configuration for their team to the [team-config](https://github.com/hmcts/cnp-jenkins-config/blob/master/team-config.yml) file</a>
in the cnp-jenkins-config repository.

Please send a [pull request](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests) with your configuration.

All fields are mandatory.

Copy another teams config and adjust to meet your needs.

```yaml
sscs: # product name in Jenkinsfile_CNP, this will be a 'short name' that your team is known by
  team: "SSCS" # team 'display name', useful for longer more recognisable names for tagging
  namespace: "sscs" # Kubernetes namespace, usually the same as your 'product name'
  slack:
    contact_channel: "#sscs-tech" # public channel that you can be contacted at
    build_notices_channel: "#sscs-tech" # all build notices will be sent here
  tags:
    application: "social-service-child-support" # name that your service is known to by FinOps, contact Bruce Rawstorne if unsure, you can put something in temporarily
```

Make sure your product name is not too long as some Azure resources have constraints on their length
which can easily be hit if names are too long.

