---
title: Team
last_reviewed_on: 2020-01-15
review_in: 6 months
weight: 1
---

# <%= current_page.data.title %>

## Slack

Once you've received your `hmcts.net` email account you can self service sign-up to our slack workspace.

Visit <a href="https://hmcts-reform.slack.com/">hmcts-reform.slack.com</a> and click `create an account`

After you've created your account please make sure to fill out your profile,
set at least your full name, and in the what I do section put your team name and role.

Now that you've got a slack account you'll need to create a couple of channels:

- a team contact channel, this must be public as this is where people on other teams will come to contact you,
  this is often your regular developer chat channel, i.e. `team-dev` or `team-tech`.
- a build notices channel, this should be public as there's no reason to hide your build failures.

Once you've created a build notices channel you will need to invite our 'Jenkins' bot user into the channel.

```shell
/invite @Jenkins
```

Make sure you pick the Jenkins \[app] user:


<img src="/images/slack-jenkins-user-invite.png"/>

## Team GitHub config

Each team needs to add configuration for their team to the <a href="https://github.com/hmcts/cnp-jenkins-config/blob/master/team-config.yml">team-config file</a>
in the cnp-jenkins-config repository.

Please send a <a href="https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests">pull request</a> with your configuration.

All fields are mandatory, 

Copy another teams config and adjust to meet your needs.

```yaml
sscs: # <- product name in Jenkinsfile_CNP, this will be a 'short name' that your team is known for
  team: "SSCS" # <- team 'display name', useful for longer more recognisable names for tagging
  namespace: "sscs" # <- Kubernetes namespace, usually the same as your 'product name'
  slack:
    contact_channel: "#sscs-tech"
    build_notices_channel: "#sscs-tech"
```

Make sure your product name is not too long as some Azure resources have constraints on their length 
which can easily be hit if names are too long.

## Jenkins org -> see old doc



## Azure Active Directory (AAD) groups

Create a ticket in <a href="https://tools.hmcts.net/jira/secure/CreateIssue!default.jspa">the RDO project on Jira</a>.

Details:

- Project: Reform: DevOps (RDO)
- Issue Type: Task
- Summary: New team (team-name) AAD groups
- Component: Azure Active Directory

Description:

> Hi
> I have just started on the "team name" team,

> Can you please create the following AAD groups for my team:

> * dcd_group_\<team-short-name>_v2
> * dcd_group_ld_\<team-short-name>_v2

> Thanks

Once the group is created you can get the object IDs with:

```shell
TEAM_NAME=fpla # adjust as needed
az ad group list --query "[?contains(displayName, '${TEAM_NAME}_v2')].{DisplayName: displayName, ObjectID: objectId}" -o table
```

You will need the object IDs when you create your own key vault and setup your LaunchDarkly access.

To join the groups see 'TODO section in person onboarding'.

## Github config - > request 2 teams, 1 for devs, 1 for admins

## Create Office 365 team group
