---
title: Team
last_reviewed_on: 2020-01-15
review_in: 6 months
weight: 1
---

# <%= current_page.data.title %>

## Slack

Once you've received your `hmcts.net` email account you can self service sign-up to our slack workspace.

Visit [hmcts-reform.slack.com](https://hmcts-reform.slack.com/) and click `create an account`

After you've created your account please make sure to fill out your profile,
set at least your full name, and in the what I do section put your team name and role.

Now that you've got a slack account you'll need to create a couple of channels:

- a team contact channel, this must be public as this is where people on other teams will come to contact you,
  this is often your regular developer chat channel, i.e. `team-dev` or `team-tech`.
- a build notices channel, this should be public as there's no reason to hide your build failures.

Once you've created a build notices channel you will need to invite our 'Jenkins' bot user into the channel.

```shell
/invite @Jenkins
```

Make sure you pick the Jenkins \[app] user:


<img src="/images/slack-jenkins-user-invite.png"/>

## Github config

### Access

Request GitHub access through your PMO, (probably who you showed your documents to on your first day, 
if in doubt ask your delivery manager).

You should receive an email inviting you to the GitHub organisation, visit [https://github.com/hmcts](https://github.com/hmcts)
to accept the invite.

### GitHub Teams

Now you need to create two 'GitHub teams' for your team.

1. Click on the 'teams' tab
2. Create a team called \<team-name>
3. Create a team called \<team-name>-admins

see also [creating a GitHub repository](/ways-of-working/new-component/github-repo.html#create-a-github-repository).

### Team metadata required for pipelines

Each team needs to add configuration for their team to the [team-config](https://github.com/hmcts/cnp-jenkins-config/blob/master/team-config.yml) file</a>
in the cnp-jenkins-config repository.

Please send a [pull request](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests) with your configuration.

All fields are mandatory, 

Copy another teams config and adjust to meet your needs.

```yaml
sscs: # product name in Jenkinsfile_CNP, this will be a 'short name' that your team is known by
  team: "SSCS" # team 'display name', useful for longer more recognisable names for tagging
  namespace: "sscs" # Kubernetes namespace, usually the same as your 'product name'
  slack:
    contact_channel: "#sscs-tech" # public channel that you can be contacted at
    build_notices_channel: "#sscs-tech" # all build notices will be sent here
```

Make sure your product name is not too long as some Azure resources have constraints on their length 
which can easily be hit if names are too long.

## Jenkins org setup

 1. Jenkins uses GitHub App Authentication, Request on [#rpe] (https://hmcts-reform.slack.com/app_redirect?channel=rpe) to add a [Github app for your Jenkins Org](https://github.com/jenkinsci/github-branch-source-plugin/blob/master/docs/github-app.adoc#github-app-authentication-guide).  
 2. RPE team will store the private key of app secrets to keyvault and [add credentials to Jenkins](https://github.com/hmcts/cnp-flux-config/pull/2148/files) .
    
    ```bash
    TEAM_NAME=$1
    az keyvault secret set -n  hmcts-jenkins-${TEAM_NAME}-ghapp -f converted-github-app.pem --vault-name cftptl-intsvc
    az keyvault secret set -n  hmcts-jenkins-${TEAM_NAME}-ghapp -f converted-github-app.pem --vault-name cftsbox-intsvc
    ``` 
 3. Add your organisation config in [cnp-jenkins-config](https://github.com/hmcts/cnp-jenkins-config/pull/402)
 4. Add a Jenkins build dashboard in [cnp-flux-config](https://github.com/hmcts/cnp-flux-config/pull/2153)
 5. Scan the organisation manually on Jenkins if it doesn't scan automatically.

## Azure Active Directory (AAD) groups

Create a ticket in [the RDO project on Jira](https://tools.hmcts.net/jira/secure/CreateIssue!default.jspa).

Details:

- Project: Reform: DevOps (RDO)
- Issue Type: Task
- Summary: New team (team-name) AAD groups
- Component: Azure Active Directory

Description:

> Hi
> I have just started on the "team name" team,

> Can you please create the following AAD groups for my team:

> * dcd_group_\<team-short-name>_v2
> * dcd_group_ld_\<team-short-name>_v2

> and assign the ld group to LaunchDarkly in AAD

> Thanks

Once the group is created you can get the object IDs with:

```shell
TEAM_NAME=fpla # adjust as needed
az ad group list --query "[?contains(displayName, '${TEAM_NAME}_v2')].{DisplayName: displayName, ObjectID: objectId}" -o table
```

You will need the object IDs when you create your own key vault and setup your LaunchDarkly access.

To join the groups see 'TODO section in person onboarding'.

## Create Office 365 team group
