on:
  pull_request:
    branches:
      - source
  push:
    branches:
      - source

jobs:
  build:
    runs-on: ubuntu-18.04
    name: Deploy
    steps:
      - uses: actions/checkout@v1
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.5
          architecture: 'x64'
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          gem install bundler
          bundle install
      - name: Build
        run: bundle exec middleman build
      - name: Publish
        run: |
          rm -rf build
          git config --global user.email "PlatformTeam@HMCTS.NET"
          git config --global user.name "Platform Team"
          git remote set-url origin https://nobody:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          bundle exec rake publish
        if: github.ref == 'refs/heads/source'
